<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-group{{ ' has-error' if form.title.errors }}">
        {{ form.title.label(class_="control-label") }}
        {{ form.title(class_="form-control") }}
        {% for error in form.title.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.is_fixed.label(class_="control-label") }}
        <div class="radio">
            {% for subfield in form.is_fixed %}
            <label style="display: block">
                {{ subfield }}
                {{ subfield.label.text }}
            </label>
            {% endfor %}
        </div>
    </div>

    <div class="form-group">
        {{ form.notes.label(class_="control-label") }}
        {{ form.notes(class_="form-control") }}
    </div>
    
    <br>

    <button type="submit" class="btn btn-success">
        {{ form.submit.label.text }}
    </button>
</form>